<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">

</head>
<body>
<a href="main">
<div class="main">
	<div class="main">

      <div class="frame">

        <div id="screen">
			<img src="screens/login.png" alt="">
        </div>
    </div>
</div>


</div>
</body>
</html>
